<div class="list-group col-sm-9 secondary">
    <a href="#" class="list-group-item list-group-item-action">Aravinda </a>
    <a href="#" class="list-group-item list-group-item-action">Kavinda</a>
    <a href="#" class="list-group-item list-group-item-action">Isuru</a>
    <a href="#" class="list-group-item list-group-item-action">Rumesh</a>
    <a href="#" class="list-group-item list-group-item-action">Sanjana</a>
    <a href="#" class="list-group-item list-group-item-action">Avishka </a>
    <a href="#" class="list-group-item list-group-item-action">Kavishka</a>
    <a href="#" class="list-group-item list-group-item-action">Rumesh</a>
    <a href="#" class="list-group-item list-group-item-action">imesh</a>
    <a href="#" class="list-group-item list-group-item-action">samindana</a>
    <a href="#" class="list-group-item list-group-item-action">Sansarini</a>
    <a href="#" class="list-group-item list-group-item-action">Abawathi</a>
    <a href="#" class="list-group-item list-group-item-action">Jambuwathi</a>
    <a href="#" class="list-group-item list-group-item-action">Perawathi</a>
    <a href="#" class="list-group-item list-group-item-action">Diyulwathi</a>
    <a href="#" class="list-group-item list-group-item-action">applewathi</a>
    
  
  </div>