
    <div class="container-fluid">
        <div class="row p-4">
            <div class="col-6 card bg-white p-4 mx-auto">
                <!-- Login Section -->
                <h1 class="fw-bold text-center mt-2 mb-2">Opensoft-SMS</h1>
                <p class="text-center text-muted">A project for EEY4189 - Software Design in Group</p>
                <hr>
                <form>
                    <div class="mb-3">
                        <label for="username" class="form-label fw-bold">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter Username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label fw-bold">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter Password" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-warning fw-bold mb-3">Log in</button>
                    </div>
                    <div class="text-center">
                        <a href="#" class="d-block mb-2 text-decoration-none">Forgot Password?</a>
                        <button type="button" class="btn btn-outline-primary">Guest View</button>
                    </div>
                </form>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center bg-warning">
                
            </div>
        </div>
    </div>

