<div class="container-fluid text-center ">
    <div class="row content ">
        <div class="col-sm-3 sidenav bg-light ">
           
            <div>
                <app-levent (editevent)="onEditEvent($event)" ></app-levent>
            </div>
        </div>

        <div class="col-sm-9">

            <h1>Event Management</h1>
            <hr><br><br>

            <form (ngSubmit)="onSaveEvent()">
                <div class="col-md-6">
                    <label class="form-label text-start d-block">Title</label>
                    <input type="text" name="title" class="form-control" id="eventTitle" placeholder="Enter title" [(ngModel)]="eventObj.title" required>
                </div>

                <div class="col-md-3">
                    <label class="form-label text-start d-block">Start Date Time</label>
                    <input type="datetime-local" name="startDateTime" class="form-control" id="eventStartDateTime" [(ngModel)]="eventObj.startDateTime" required>
                </div>

                <div class="col-md-3">
                    <label class="form-label text-start d-block">End Date Time</label>
                    <input type="datetime-local" name="endDateTime" class="form-control" id="eventEndDateTime" [(ngModel)]="eventObj.endDateTime" required>
                </div>

                <div class="col-md-6">
                    <label class="form-label text-start d-block">Description</label>
                    <textarea type="text" name="description" class="form-control" id="EventDescription" [(ngModel)]="eventObj.description" required> </textarea>
                </div>

                <!-- <div class="col-md-3">
                    <label class="form-label text-start d-block">Image</label>
                    <input class="form-control" type="file" id="eventImage" accept="image/*">
                </div> -->
                <br><br>

                <div class="row">
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col">
                      <button type="submit" class="btn btn-primary mb-2">
                        {{ eventObj.eId !== 0 ? 'Update Event' : 'Save Event' }}
                      </button>
                    </div>
                  </div>
            </form>


        </div>
    </div>
</div>