<div class="container-fluid text-center ">
  <div class="row content ">
    <div class="col-sm-3 sidenav bg-light ">
      <app-search-botton></app-search-botton>
      <div>
        <p>search list will be there</p>
      </div>

    </div>

    <div class="col-sm-9">


      <h1>Studence Attendance Management</h1>
      <hr>
      <form>
        <div class="row mb-3">

          <div class="col-md-6">
            <label for="attendanceID" class="form-label">Attendance ID</label>
            <input type="text" class="form-control" id="attendanceID" placeholder="Enter Attendance ID">
          </div>

          <div class="col-md-6">
            <label for="classID" class="form-label">Class ID</label>
            <input type="text" class="form-control" id="classID" placeholder="Enter Class ID">
          </div>
        </div>

        <div class="row mb-3">

          <div class="col-md-6">
            <label for="studentID" class="form-label">Student ID</label>
            <input type="text" class="form-control" id="studentID" placeholder="Enter Student ID">
          </div>

          <div class="col-md-6">
            <label for="attendanceDate" class="form-label">Attendance Date Time</label>
            <input type="datetime-local" class="form-control" id="attendanceDate">
          </div>
        </div>

        <div class="row mb-3">

          <div class="col-md-6">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" rows="3" placeholder=""></textarea>
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>

      </form>
    </div>
  </div>
</div>