.fixed-size-btn {
  width: 200px; /* Fixed width */
  text-align: center; /* Ensures text is centered */
}
.qr-scanner-container {
  height: 300px; /* Set a fixed height */
  width: 100%; /* Set a fixed width or max-width */
  max-width: 400px; /* Limit the maximum width */
  border-radius: 8px;
  background-color: #f8f9fa;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
