<div class="container-fluid text-center ">    
    <div class="row content ">
      <div class="col-sm-3 sidenav bg-light ">
        <app-search-botton></app-search-botton>
        <app-search-list></app-search-list>
      </div>
      <div class="col-sm-9"> 
       
        
<!-- 
      <app-fclass-fees-management></app-fclass-fees-management>
      <app-fstudent-management></app-fstudent-management>
      <app-fclass-management></app-fclass-management>
      <app-fclass-management></app-fclass-management>
      <app-fevent-management></app-fevent-management>
      <app-tutor-management></app-tutor-management>-->
      <app-fuser-management></app-fuser-management>
      <!-- thamnge eka witharak uncomment karaganna ee karala hadanna patan ganna -->
      
      </div>
    </div>
  </div>