<div class="container-fluid text-center ">
  <div class="row content ">
    <div class="col-sm-3 sidenav bg-light ">
      <app-search-botton></app-search-botton>
      <div>
        <p>search list will be there</p>
      </div>

    </div>

    <div class="col-sm-9">


      <h1>Student Management</h1>
      <hr>
      <br>
      <br>

      <!-- prabodya -->
      <form>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control " placeholder="Student Name">
          </div>
          <div class="col">
            <input type="tel" class="form-control" placeholder="Parent's Contact Number">
          </div>
          <div class="col">
            <input type="tel" class="form-control" placeholder="Student's Contact Number">
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col">
            <input type="date" class="form-control" placeholder="Student's Birthday">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Student's Address">
          </div>
          <div class="col">
            <input type="number" class="form-control" placeholder="Student's NIC Number (Without V)">
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col">
            <input type="email" class="form-control" id="Student_managemet_email" placeholder="Student's Email">
          </div>
          <div class="col">
            <input max="100" type="number" class="form-control" placeholder="Student's Age">
          </div>
          <div class="col"></div>
        </div>

        <br><br>
        <div class="row">
          <div class="col"></div>
          <div class="col"></div>

          <div class="col">
            <button type="submit" class="btn btn-primary  mb-2">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>