<h1>User management</h1>
<hr>
<!-- hasitha akka -->
<form class="row g-3">

    <div class="col-md-6">
        <label for="userName" class="form-label">User Name</label>
        <input type="text" class="form-control" id="userName" placeholder="Enter user name">
    </div>

    <div class="col-md-6">
        <label for="userRole" class="form-label">User Role</label>
        <input type="text" class="form-control" id="userRole" placeholder="Enter user role">
    </div>

    <div class="col-md-6">
        <label for="userBirthday" class="form-label">User Birthday</label>
        <input type="date" class="form-control" id="userBirthday">
    </div>

    <div class="col-md-6">
        <label for="userNIC" class="form-label">User NIC Number</label>
        <input type="text" class="form-control" id="userNIC" placeholder="Enter NIC number">
    </div>

    <div class="col-md-6">
        <label for="userEmail" class="form-label">User Email</label>
        <input type="email" class="form-control" id="userEmail" placeholder="Enter email address">
    </div>

    <div class="col-md-6">
        <label for="userAge" class="form-label">User Age</label>
        <input type="text" class="form-control" id="userAge" placeholder="Enter age">
    </div>

    <div class="col-md-6">
        <label for="userContact" class="form-label">Contact Number</label>
        <input type="tel" class="form-control" id="userContact" placeholder="Enter contact number">
    </div>

    <div class="col-md-12 d-flex justify-content-center mt-7">
        <button type="submit" class="btn btn-primary btn-lg w-50">Submit</button>
    </div>

</form>